In [1]:
import os
import csv
import pandas as pd
import numpy as np

In [2]:
# data file's path:
crime_data = "Crime_by_City_2017to2015_from_table8_and_table4.csv"

In [3]:
# Use Pandas to read data
crime_data_df = pd.read_csv(crime_data)
crime_data_df.head()

,State,City,2017 Population,2017 Violent Crime Total,2017 Murder,2017 Rape,2017 Robbery,2017 Aggravated Assault,2017 Property Crime Total,2017 Burglary,...,2015 Murder,2015 Rape,2015 Robbery,2015 Aggravated Assault,2015 Property Crime Total,2015 Burglary,2015 Larceny - Theft,2015 Motor - Vehicle Theft,2015 Arson,2015 All Crimes Total
0,Alabama,Birmingham,NaN,"1,845",42,92,472,"1,223","6,458","1,292",...,79.0,159,"1,114","2,355","13,499","3,146","8,838","1,515",145,"17,206"
1,Alabama,Mobile,NaN,925,20,53,235,617,"6,482","1,507",...,24.0,116,NaN,402,987,"10,794","2,208","7,977",609,"2,516"
2,Alabama,Montgomery,NaN,656,19,35,185,417,"4,246","1,031",...,33.0,40,NaN,391,578,"8,363","2,342","5,280",741,"1,620"
3,Alaska,Anchorage,NaN,"1,707",13,196,369,"1,129","7,708","1,089",...,26.0,517,621,"2,062","11,801","1,685","8,962","1,154",106,"15,027"
4,Arizona,Chandler,NaN,303,1,67,72,163,"2,906",401,...,1.0,79,114,296,"5,393",770,"4,367",256,45,"5,883"

In [4]:
# Referencing ONLY CRIME TOTAL (non specific crimes) within a DataFrame  (based on the above)
crime_data_df[["City","State","2017 Violent Crime Total","2017 Property Crime Total","2017 All Crimes Total","2016 Population","2016 Violent Crime Total","2016 Property Crime Total","2016 All Crimes Total","2015 Violent Crime Total","2015 Property Crime Total","2015 All Crimes Total" ]].head()

,City,State,2017 Violent Crime Total,2017 Property Crime Total,2017 All Crimes Total,2016 Population,2016 Violent Crime Total,2016 Property Crime Total,2016 All Crimes Total,2015 Violent Crime Total,2015 Property Crime Total,2015 All Crimes Total
0,Birmingham,Alabama,"1,845","6,458","8,303",212549,"1,732","5,875","7,607","3,707","13,499","17,206"
1,Mobile,Alabama,925,"6,482","7,407","249,921",793,"5,169","5,962","1,529",987,"2,516"
2,Montgomery,Alabama,656,"4,246","4,902","199,565",563,"4,229","4,792","1,042",578,"1,620"
3,Anchorage,Alaska,"1,707","7,708","9,415","299,097","1,692","6,853","8,545","3,226","11,801","15,027"
4,Chandler,Arizona,303,"2,906","3,209","265,922",272,"2,987","3,259",490,"5,393","5,883"